*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.annotation-annotation-1.8.1-commonMain-VdfbRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.annotation-annotation-1.8.1-nonJvmMain-VdfbRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.animation-animation-1.7.2-commonMain-l1qmSQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.animation-animation-core-1.7.2-commonMain-_mAGvg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.foundation-foundation-layout-1.7.2-commonMain-AH_CSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.runtime-runtime-1.7.2-commonMain-ehVCGA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.runtime-runtime-saveable-1.7.2-commonMain-08iYYQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-1.7.2-commonMain-PT7DfA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-geometry-1.7.2-commonMain-EfOlyA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-graphics-1.7.2-commonMain-KfQCTg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-text-1.7.2-commonMain-0HlS6A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-unit-1.7.2-commonMain-nS0FRw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.compose.ui-ui-util-1.7.2-commonMain-DcZMaA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.8.0-commonMain-UxhG-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.8.0-concurrentMain-UxhG-g.klib
